

.music-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    width: 300px;
    padding: 10px;
    background-color: #c3eed0;
    border-radius: 5px;
    margin-left: 40%;
}

.song-title, .artist {
    font-size: 18px;
    font: bold;
    margin: 0;
}

.text-info {
    flex: 1;
}

.controls {
    display: flex;
    align-items: center;
}

.song-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.pause-btn, .prev-btn, .next-btn {
    height: 30px;
    width: 30px;
    margin: 0px 5px;
    background-color:  rgb(75, 71, 71) ;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
}